@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Mukta+Vaani:wght@200;300;400;500;600;700;800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-size: 20px;
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 110px;
}
span, a, label {
    display: inline-block;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
input, button, textarea, select {
    font-size: 18px;
}
.nav {
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 70px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 100%;
    max-width: 1700px;
    z-index: 100;
}
.logo, .link {
    text-decoration: none;
    color: white;
}
.logo, .list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.logo {
    font-size: 24px;
}
.list {
    column-gap: 25px;
    padding: 0;
    list-style-type: none;
}
.link {
    font-size: 22px;
}
.container {
    max-width: 1400px;
    margin: 20px auto;
    padding: 10px 25px;
} 
.title {
    color: green;
    font-size: 50px;
    text-align: center;
    margin-bottom: 21px;
}
.tag, .attr, .attrval, .prop, .val, .code, .jsfunc {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.tag {
    color: green;
    text-shadow: 1px 0 black;
}
.jsfunc {
    color: dodgerblue;
}
.code {
    color: lime;
    padding: 12px;
    margin: 7px 0;
    background-color: black;
    overflow: auto;
    position: relative;
    cursor: copy;
    transition: 0.1s scale linear;
}
span.code, .inline.code {
    padding-right: 80px;
}
.code::after {
    position: absolute;
    content: 'copy';
    right: 10px;
    top: 5px;
    font-size: 17px;
    color: silver;
}
.code:active::after {
    translate: 0 2px;
}
.copied::after {
    content: 'copied';
}
.code > * {
    font-weight: normal;
    font-size: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    list-style: none;
}
.attr {
    color: red;
}
.attrval {
    color: mediumslateblue;
}
.prop {
    color: mediumvioletred;
}
.val {
    color: royalblue;
}
.section:not(:last-of-type) {
    margin-bottom: 30px;
}
.line {
    margin: 20px 0;
    border: none;
    height: 2px;
    background-color: green;
}
.btn {
    border: none;
    padding: 0;
    background-color: transparent;
    width: 32px;
    height: 27px;
    position: relative;
    display: none;
}
.dash {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: 0.2s all linear;
}
.dash1 {
    top: 0;
}
.dash2 {
    width: 60%;
    right: 0;
    top: 50%;
    translate: 0 -50%;
}
.dash3 {
    bottom: 0;
}
.btnclose .dash2 {
    width: 0;
}
.btnclose .dash1 {
    top: 50%;
    translate: 0 -50%;
    rotate: 45deg;
}
.btnclose .dash3 {
    bottom: 50%;
    translate: 0 50%;
    rotate: -45deg;
}
.textcolor {
    color: dodgerblue;
}
.bgcolor {
    background-color: teal;
    color: white;
}
.fs {
    font-size: 30px;
}
.border {
    border: 3px solid dodgerblue;
}
.padding {
    padding: 17px;
}
.margin {
    margin: 20px;
}
.border-radius {
    border-radius: 15px;
}
.bg {
    background-color: aqua;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 12px;
}
.lh {
    line-height: 3;
    background-color: yellow;
}
.spacing {
    word-spacing: 30px;
    letter-spacing: 10px;
}
.text-center {
    background-color: magenta;
    text-align: center;
    padding: 10px;
}
.text-right {
    background-color: skyblue;
    text-align: right;
    padding: 10px;
}
.text-justify {
    padding: 5px;
    text-align: justify;
    background-color: lime;
}
.mb {
    margin-bottom: 20px;
}
.square {
    width: 130px;
    height: 130px;
    background-color: gray;
    color: white;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}
.rotate {
    rotate: 20deg;
}
.translate {
    translate: 50px -30px;
}
.scale {
    scale: 0.7;
}
.element {
    width: 130px;
    height: 130px;
    background-color: gray;
    color: white;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    transition: 0.2s all linear;
}
.element:hover {
    scale: 1.1;
    rotate: -100deg;
    translate: 70px 20px;
    background-color: teal;
    color: white;
}
.bradnotran {
    transition: none;
}
.bradtran {
    transition: 0.2s all linear;
}
.changebrad:hover {
    background-color: blue;
    border-radius: 50%;
}
.text-shadow {
    font-size: 27px;
    text-shadow: 2px 3px 1px red, -4px -3px 2px green;
}
.box-shadow {
    padding: 15px;
    font-size: 24px;
    box-shadow: 0 0 15px 3px black, 10px 12px blue, -7px -5px 8px red;
}
/* jspage */
.demo {
    border: 2px solid tomato;
    padding: 25px;
}
.image {
    width: 300px;
    border: 5px solid transparent;
}
.changeimage {
    border-radius: 20px;
    box-shadow: 0 0 20px 2px black;
    scale: 0.8;
    border-color: red;
}
/* footer */
.footer {
    background-color: #222;
    color: white;
    padding: 40px 100px;
    text-align: center;
}
.footer__div {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    justify-content: center;
    margin-bottom: 10px;
}
.footer__link {
    text-decoration-style: dotted;
    color: silver;
    transition: 0.2s all linear;
}
.footer__link:hover {
    text-decoration-style: solid;
    color: lime;
}
.footer__social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 15px;
}
.footer__telegramlink {
    text-decoration: none;
    color: silver;
}
.footer__telegramlink > span {
    color: #2196d4;
}
.footer__telegram {
    width: 27px;
}
/* responsive design */
@media(max-width:1250px){
    .nav {
        padding: 10px 30px;
    }
}
@media(max-width:1000px){
    .title {
        font-size: 42px;
        line-height: 1;
    }
    body {
        font-size: 18px;
    }
    .line {
        margin: 15px 0;
    }
}
@media(max-width:650px){
    .list {
        width: 100%;
        display: none;
        overflow: hidden;
        max-height: 0;
        justify-content: center;
        column-gap: 10px;
    }
    .link {
        padding: 7px 20px;
    }
    .link {
        text-align: right;
    }
    .btn {
        display: inline-block;
    }
    .listopen {
        display: flex;
        animation: openlist 0.3s linear forwards;
    }
    .listclose {
        animation: listclose 0.3s linear forwards;
    }
    @keyframes openlist {
        0% {
            max-height: 0;
        }
        100% {
            max-height: 55px;
        }
    }
    @keyframes listclose {
        0% {
            max-height: 55px;
        }
        100% {
            max-height: 0;
        }
    }
}
@media(max-width:600px){
    h1, h2, h6 {
        line-height: 1;
    }
    body {
        font-size: 16px;
    }
    .container {
        margin: 0 auto;
        padding: 10px 15px;
    }
    .title {
        font-size: 36px;
        margin-bottom: 18px;
    }
    .footer__telegram {
        width: 24px;
    }
}
@media(max-width:500px){
    .nav {
        padding: 8px 15px;
        row-gap: 10px;
    }
    .logopic {
        width: 75px;
    }
    .btn {
        width: 29px;
        height: 24px;
    }
    body {
        margin-top: 90px;
    }
    .footer {
        padding: 30px 20px;
    }
}
@media(max-width:400px){
    .list {
        column-gap: 0;
        justify-content: space-between;
    }
    .link {
        padding: 7px 10px;
    }
}
@media(max-width:320px){
    .footer {
        padding: 20px 10px;
    }
}