@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Mukta+Vaani:wght@200;300;400;500;600;700;800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-size: 20px;
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 110px;
}
span, a, label {
    display: inline-block;
}
img {
    max-width: 100%;
    height: auto;
}
input, button, textarea, select {
    font-size: 18px;
}
.nav {
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 70px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
.logo, .link {
    text-decoration: none;
    color: white;
}
.logo, .list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.logo {
    font-size: 24px;
}
.list {
    column-gap: 25px;
}
.list {
    padding: 0;
    list-style-type: none;
}
.link {
    font-size: 22px;
}
.container {
    max-width: 1400px;
    margin: 20px auto;
    padding: 10px 25px;
} 
.title {
    color: green;
    font-size: 50px;
    text-align: center;
    margin-bottom: 21px;
}
.tag, .attr, .attrval {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.tag {
    color: green;
    text-shadow: 1px 0 black;
}
.attr {
    color: red;
}
.attrval {
    color: mediumslateblue;
}
.section {
    margin-bottom: 30px;
}
.line {
    margin: 20px 0;
    border: none;
    height: 2px;
    background-color: green;
}